<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#003d1f">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon-192.png') }}">



  <title>Sub-Five Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&display=swap" rel="stylesheet">
</head>

<body>
  <div class="game-wrapper">
    <div class="game-container"> <!-- Table -->
      <div class="game-scale">
        <div id="center-table">
          <div class="deck-area">
            <div class="card back" id="deck"></div>
          </div>
          <div class="pile-area">
            <div class="card" id="pile">🂠</div>
          </div>
          <div id="player-area"></div>
          <!-- Opponents injected dynamically -->
        </div>

        <!-- Log panel -->
        <div id="log-panel" class="log-panel"></div>

        <!-- Controls -->
        <button id="play-selected">Play</button>
        <button id="end-round">Finish</button>
        <button id="end-game">Quit</button>
        <button id="fullscreen-btn" onclick="enterFullscreen()">⛶</button>
      </div>
    </div>
  </div>

  <script>
    sessionStorage.setItem("roomCode", "{{ room_code }}");
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='elements.cardmeister.full.js') }}"></script>
  <script>

    function scaleGame() {
      const container = document.querySelector(".game-container");
      const scaleEl = document.querySelector(".game-scale");
      
      const containerWidth = container.clientWidth;
      const containerHeight = container.clientHeight;
      console.log(containerHeight, containerWidth);

      // Use 100vw as the intended design base width
      const designWidth = window.innerWidth;
      const scaleFactor = containerWidth / designWidth;

      scaleEl.style.transform = `scale(${scaleFactor})`;
    }

    window.addEventListener("resize", scaleGame);
    window.addEventListener("load", scaleGame);
  </script>


</body>

</html>